.button {
  cursor: pointer;
  padding: 3px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100px;
  &:not(:last-child) {
    margin-right: 10px;
  }

  border-radius: 4px;
  background-color: rgb(204, 175, 113);
  color: #fff;
  font-weight: 500;

  &:hover,
  &:focus {
    background-color: rgb(131, 114, 77);
  }

  &:active {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
